<div class="container-fluid">
    <div class="row">
        <div class="col0lg-12">
            @Body
        </div>
    </div>
</div>

<style>
    body{
        background: url('images/background/img.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        o-background-size: cover;
        background-size: cover:
    }
</style>