@inject NavigationManager NavManager
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="btn btn-none" href="identity/account/login">Login</a>
            <a class="btn btn-none" href="identity/account/login">Register</a>
            <a class="btn btn-none text-danger" @onclick="LogoutCliked">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    async Task LogoutCliked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}